:root {
    --slider-height: 100vh;
    --slider-width: 90vw;
    --nav-btn-size: 3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: black;
    font-size: 3rem;
  }
  
  .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-top: 2rem; */
    min-height: 100vh;
  }
  
  .slider {
    display: flex;
    width: var(--slider-width);
    height: var(--slider-height);
    justify-content: start;
    background: white;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .slide {
    height: 100%;
    /* min-width: 70vw; */
    min-width: var(--slider-width);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
  
  .slider .slide {
      scroll-snap-align: start;
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }

  .nav {
    position: absolute;
    top: calc(var(--slider-height) / 2 - var(--nav-btn-size) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: var(--nav-btn-size);
    height: var(--nav-btn-size);
    background: black;
    color: white;
    border-radius: 50%;
    opacity: .64;
  }

  .next {
    right: calc((100vw - var(--slider-width)) / 2 + 2rem);
  }

  .prev {
    left: calc((100vw - var(--slider-width)) / 2 + 2rem);
  }

  .nav:hover {
    cursor: pointer;
    opacity: .8;
  }

  [hidden] {
    display: none;
  }
  
  /* .slider::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  .slider::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
  } */